@model List<PatientChronic>

@{
    ViewData["Title"] = "Nurse Preferred Suburbs";
}

<h2>Nurse Preferred Suburbs</h2>

@using (Html.BeginForm("ViewPatientCondition", "Nurse", FormMethod.Get))
{
    @Html.DropDownList("chronicName", ViewBag.Chronics as SelectList, "All", new { onchange = "this.form.submit();" })
    <button type="submit" name="generatePdf" value="true">Generate PDF</button>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>Chronic Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Patient.FirstName</td>
                <td>@item.Patient.EmailAddress</td>
                <td>@item.Patient.ContactNumber</td>
                <td>@item.Chronic.ChronicName</td>
            </tr>
        }
    </tbody>
</table>


