@model IEnumerable<Hospital_App.Models.Suburb>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuburbName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuburbName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuburbID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuburbID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuburbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
